.alizoka{
    background: greenyellow;
}

.clearfix {
    overflow: auto;
}
  
.clearfix::after {
content: "";
clear: both;
display: table;
}
.my-container {
    max-width: 1200px;
    margin: 0 auto;
}
.my-blue{
    color: #5396ff;
}
.go-right {
    text-align: right;
}